.cabecalho{
    background-color: #383d58 ;
    color: white;
    display: flex;
    justify-content: space-around;
}
.neymar{
  width: 200px;
  position:relative;
  top: 50px;
  left: 150px;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;

}