body{
  font-family: 'Poppins',sans-serif;
}

.cabecalho{
    background-color: #11173a ;
    color: white;
    display: flex;
    justify-content: space-around;
}
.neymar{
  width: 200px;
  position: relative;
  top: 50px;
  left: 150px;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}
.bola-imagem{
  width: 25%;
}
.escola{
  background-image: linear-gradient(#11173a,#083a3b);
color: white;
display: flex;
}
.escola-conteudo{
  width: 35%;
  display: flex;
  justify-content: center;
  padding: 24px 0;
}
.escola-titulo{
  padding: 24px 0;
}